body {
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#333)) fixed;
    color: #FFF;
    font-family: "Ropa Sans", sans-serif;
    font-size: 10pt;
}

table {
    font: inherit;
}

#wrapper {
    width: 800px;
    margin: 50px auto;
}

#bar {
    height: 20px;
    border: 1px solid #494646;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#151515), to(#494646));
    cursor: pointer;
    margin: 20px 0;
}

#bar_inner {
    height: 100%;
    border: 1px solid #239a7a;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#02795a), to(#239a7a));
    margin: -1px;
    position: relative;
}

#slider {
    width: 15px;
    height: 40px;
    position: absolute;
    right: -7px;
    top: -10px;
    background: url("gfx/slider.png");
    cursor: pointer;
}


#playlist {
    height: 70%;
    overflow: auto;
}

#playlist table {
    border-spacing: 0px;
    width: 100%;
}

#playlist table tr {
    cursor: pointer !important;
}

#playlist table td {
    padding: 5px 10px;
    color: #AAA;
    text-shadow: 1px 1px  #000;
    position:relative;
    -webkit-transition: left linear 0.5s;
}

#playlist table tr:nth-child(2n+1) td {
    background: #000;
}

#playlist table tr:nth-child(2n) td {
    background: #050505;
}

#playlist table tr:hover td {
    background: #111;
}

#playlist table tr.dragging td {
    left: 20px;
}

#playlist .duration { color: #A00; }
#playlist .title { color: #980; }
#playlist .artist { color: #080; }

#playlist .current { font-weight: bold; }
#playlist .current .duration { color: #F00; }
#playlist .current .title { color: #FE0; }
#playlist .current .artist { color: #0B0; }

#playlist .loader {
    margin: 5px;
}

#playlist .loader img {
    vertical-align: -3px;
    margin-right: 5px;
}


#play.pause .pause, #play.play .play { display: inline; }
#play.play .pause, #play.pause .play { display: none; }



#current_track {
    float: right;
    text-align: right;
    line-height: 1.4em;
}

#album_ { color: #888; font-size: 8pt; }
#title_ { color: #FFF; font-size: 11pt; font-weight: bold; }
#artist_ { color: #888; font-size: 8pt; }
#artist { color: #FFF; }
